# URL de l'API backend
NEXT_PUBLIC_API_URL="http://localhost:5000/api"

# NEXT_PUBLIC_API_URL="https://afrikcse-afrikvoyage.onrender.com/api"

# Nom de l'application (affiché dans le titre)
NEXT_PUBLIC_APP_NAME="AfrikCSE & AfrikVoyage"