# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# ─── Serveur ───────────────────────────────────────────
NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:root@localhost:5432/afrikcse-afrikvoyage_db?schema=public"

JWT_ACCESS_SECRET=access_secret_key
JWT_REFRESH_SECRET=refresh_secret_key
JWT_ACCESS_EXPIRES=24h
JWT_REFRESH_EXPIRES=90d

# Secret court pour signer le token `session` envoyé au frontend (pour middleware)
# Exemple: openssl rand -base64 32
SESSION_COOKIE_SECRET=short_session_secret

# ─── CORS ──────────────────────────────────────────────
# URL du frontend autorisé à appeler l'API
FRONTEND_URL="http://localhost:3000"


# ─── Cloudinary (uploads) ──────────────────────────────
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""


# ─── Amadeus (recherche de vols) ───────────────────────
AMADEUS_API_KEY=""
AMADEUS_API_SECRET=""
AMADEUS_BASE_URL="https://test.api.amadeus.com"


# Backend .env variables (pour les paiements)
KKIAPAY_SECRET_KEY=sk_live_...
FEDAPAY_SECRET_KEY=sk_live_...
FEDAPAY_WEBHOOK_TOKEN=token_secret_choisi_par_toi
BACKEND_URL=https://ton-backend.railway.app   # pour les webhooks FedaPay
